.dark {
    height: 70px;
    width: 70px;
    background-color: rgb(102, 51, 0);
  }
  
  .light {
    height: 80px;
    width: 80px;
    background-color: rgb(227, 193, 111);
  }

  .potential {
    background-color: rgb(228, 143, 57);
  }
  
  .clicked {
    background-color: rgba(220, 220, 220, 0.4);
  }
  
  td {
    outline: black solid 2px;
    padding: 0px;
    text-align: center;
  }
  
  td:hover {
    background-color: grey;
  }

  .outline-board {
    height: 800px;
    width: 800px;
    outline: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 51, 0);
    position: relative;
    margin: auto;
  }